body {
  background-color: #45EAD8;
}


.header{
    font-family: 'Literata', serif;
    color:black;
    text-align: center;
    font-size: 96px;
    margin-bottom: 5px;
}

.header:hover{
  color: lightblue;
}

.title{
    font-family: 'DM Serif Text', serif;
    color:white;
    font-size: 20px;
    text-align: center;

}

.intro{
  width: 300px;
  height: 300px;
  border: 5px solid lightblue;
  padding: 30px;
  margin: 20px;
}
